body{
   
    background: #021a3e;
    background: linear-gradient(90deg, rgba(2,26,62,1) 0%, rgba(2,68,67,1) 0%, rgba(2,31,68,1) 0%, rgba(2,0,36,1) 11%, rgba(2,28,64,1) 73%);
    background-attachment: fixed;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    border-radius: 6px;
    padding: 30px;
}
h1{
    text-align: center;
    color:#021a3e ;
    text-transform: uppercase;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    font-size: 20px;
}
#form button{
    background-color:#021a3e ;;
    color: whitesmoke;
    width: 100%;
    margin-top: 17px;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    /* text-transform: uppercase; */
}
.input-group input{
    margin-top: 6px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #A9C9FF;
}
.input-group input:focus{
    outline-color: aquamarine;
}
.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: #0cc477;
}
.input-group.error input{
    border-color: red;
}

.wave {
    position: relative;
    width: 100%;
    height: 15vh;
    background: #021a3e;
    background: linear-gradient(90deg, rgba(2,26,62,1) 0%, rgba(2,68,67,1) 0%, rgba(2,31,68,1) 0%, rgba(2,0,36,1) 11%, rgba(2,28,64,1) 73%);
    overflow: hidden;
  }
  
  .wave::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    background-color: #073858;
    border-radius: 45%;
    animation: wave 12s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }